@model IEnumerable<brH60Store.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="prod-cat-main">
    <div class="prod-cat-header">
        PRODUCTS
    </div>
    <div class="prod-cat-container">
        @foreach (var item in Model) {
            <div class="prod-cat-card">
                <img src="@Html.DisplayFor(modelItem => item.Image)" class="prod-cat-card-img" />
                <div >
                    <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                    <a asp-area="" asp-controller="Products" asp-action="UpdateStock" asp-route-id="@item.ProductId">UpdateStock</a>
                </div>
            </div>
        }
        <div class="prod-cat-card" id="add-category-card">
            <a class="add-category-link" asp-area="" asp-controller="ProductCategories" asp-action="Create">
                <div id="add-category-btn">
                    <div id="add-vertical"></div>
                    <div id="add-horizontal"></div>
                </div>
            </a>
        </div>
    </div>
</div>


