@model IEnumerable<brH60Store.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="prod-cat-main">
    <div class="prod-cat-header">
        CATEGORIES
    </div>
    <div class="prod-cat-container">
        @foreach (var item in Model)
        {
            <div class="prod-cat-card">
                <img src="@Html.DisplayFor(modelItem => item.Image)" class="prod-cat-card-img"/>
            </div>
        }
    </div>
</div>


